html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

#game {
    width: 216px;
    user-select: none;
    position: relative;
}

.field {
    width: 216px;
    height: 216px;
}

.block {
	position: absolute;
	border: 2px solid #fff;
	width: 50px;
	height: 50px;
	background: #7C7C7C;
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
    transition: bottom 0.3s ease-out, opacity 0.3s ease-out 0.15s;

	&:hover {
		background: #535353;
	}

    &._selected {
        background: #c35000;
    }

    &._blink {
        opacity: 0;
    }
}

.block__active {
    position: absolute;
    top: -2px;
    left: -2px;
    border: 27px solid transparent;
    border-radius: 27px;
    width: 0;
    height: 0;
}
