.mainMenu {}

.mainMenu__header {
    position: relative;
    height: 100px;
}

.mainMenu__title {
    position: absolute;
    bottom: 0;
    left: 15px;
    color: #99b433;
    font-weight: 700;
    font-size: 70px;
}

.mainMenu__version {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-weight: 700;
    color: #99b433;
}

.mainMenu__body {}

.mainMenu__progress {
    position: relative;
    margin: 0 5px 5px 5px;
    width: 490px;
    height: 20px;
    background: #d9bfb8;
}

.mainMenu__progressBar {
    background: #DA532C;
    width: 0;
    min-width: 2px;
    height: 100%;
}

.mainMenu__progressText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    font-weight: 700;
}

.mainMenu__footer {
    position: relative;
    margin: 15px 0 0 0;
    text-align: right;
}

.mainMenu__resumeGame {
    display: none;
    margin: 0 5px 5px 5px;
    user-select: none;
    border: 4px solid #99b433;
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    background: #99b433;
    cursor: pointer;

    .no-touch &:hover {
        background: #a9c534;
        border: 4px solid #a9c534;
    }

    .mainMenu._activeLevel & {
        display: inline-block;

    }
}
